.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url('../img/bg2.png') center (center/cover) no-repeat;
    .error {
        color: #ffffff;
        box-shadow: 3px 3px 20px rgb(206, 94, 94);
        margin-bottom: 15px;
        text-align: center;
    }
    label.error {
        box-shadow: none;
    }
}