.advantages {
    .advantages__title {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 30px;
    }
    .advantages__subtitle {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.consultation__descr {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 10px;
}